<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.neofonie.crashreporting"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:name=".CrashApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity android:name=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".ui.Page1Activity" />
    <activity android:name=".ui.Page2Activity" />
    <activity android:name=".ui.cities.ListActivity" />

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="61d00f26a6810a0c736bf2e16008c05218155eeb" />

  </application>

</manifest>